body {
    background-color: #202020;
}

p {
    color: #bfbfbf;
}

h1 {
    color: #bfbfbf;
}

label {
    color: #bfbfbf;
}

input {
    background-color: #202020;
    color: #bfbfbf;
    border-color: #bfbfbf;
}

select {
    background-color: #202020;
    color: #bfbfbf;
    border-color: #bfbfbf;
}

