<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comp-status</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.css">
</head>
<body>
    <h1 class="title is-1">Computer Status Information</h1>
    <br>
    <div class="columns">
        <div class="column is-one-quarter">
            <form>
                <label class="label" for="ip">IP Address (including port!)</label>
                <input class="input" type="text" id="ip">
                <label class="label" for="username">Username</label>
                <input class="input" type="text" id="username">
                <label class="label" for="password">Password</label>
                <input class="input" type="password" id="password">
                <label class="label" for="useCookies">Store Login Information in Cookies</label>
                <button type="button" onclick="useCookiesFunction()" class="button is-success" id="useCookies">Save Information in Cookies</button>
            </form>
            <div class="field">
                <label class="label" for="computerDropdown">Select a Computer:</label>
                <span class="select">
                    <select id="computerDropdown" onchange="renderComputerInfo()"></select>
                </span>
            </div>
            <div id="statusMessageDiv">
                <p class="subtitle" id="statusMessage"></p>
            </div>
        </div>
        <div class="column">
            <div class="column">
                <section class="hero" id="pcNameSection">
                    <div class="hero-body">
                        <p class="title" id="pcName"></p>
                    </div>
                </section>
                <section class="hero" id="RAMInfoSection">
                    <div class="hero-body">
                        <p class="title" id="RAMInfo"></p>
                    </div>
                </section>
                <section class="hero" id="CPUInfoSection">
                    <div class="hero-body">
                        <p class="title" id="CPUInfo"></p>
                    </div>
                </section>
                <section class="hero" id="turboInfoSection">
                    <div class="hero-body">
                        <p class="title" id="turboInfo"></p>
                    </div>
                </section>
                <section class="hero" id="CPUTempsSection">
                    <div class="hero-body">
                        <p class="title" id="CPUTemps"></p>
                    </div>
                </section>
                <section class="hero" id="CPUUsagesSection">
                    <div class="hero-body">
                        <p class="title" id="CPUUsages"></p>
                    </div>
                </section>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="static/index.js"></script>
</body>
</html>